<!DOCTYPE html>
<html>

<head>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Outlined"
    rel="stylesheet" type="text/css">
  <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@2.10.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="q-app">
    <q-layout>
      <!-- dialog create and edit contact  -->
      <q-dialog v-model="dialogContact">
        <q-card class="dialogAdd bg-white q-pa-md">
          <q-form @submit="onSubmit" class="q-gutter-md">
            <!-- name -->
            <div class="q-py-md">
              <q-input outlined v-model="contact.name" label="Nome" lazy-rules :rules="[ 
                val => val && val.split(' ')[0].length >= 3 || 'Informe um nome valido']" hint=" Nome e sobrenome" />
            </div>
            <!-- phone -->
            <div class="q-py-md">
              <q-input outlined v-model="contact.phone" label="Telefone" hint="(xx) xxxx-xxxx." lazy-rules :rules="[
                val => val && val.length > 0 || 'Informe um telefone valido!']" />
            </div>
            <!-- buttons -->
            <q-card-actions align="right">
              <q-btn flat label="CANCELAR" color="red" v-close-popup></q-btn>
              <q-btn flat label="OK" color="primary" type="submit"></q-btn>
            </q-card-actions>
          </q-form>
        </q-card>
      </q-dialog>
      <!-- dialog confirm delete contact -->
      <q-dialog v-model="confirmDialog">
        <q-card>
          <div>
            <q-card-section class="row items-center">
              <div>
                <q-avatar icon="warning" color="red" text-color="white" />
              </div>
              <div>
                <span class="q-ml-sm">Tem certeza que deseja apagar esse contato?</span>
              </div>
            </q-card-section>
          </div>
          <div>
            <q-card-actions align="right">
              <div>
                <q-btn flat label="Cancelar" color="primary" v-close-popup />
              </div>
              <q-btn flat label="Apagar" color="red" v-close-popup @click="confirmDeleteContact" />
            </q-card-actions>
          </div>
        </q-card>
      </q-dialog>
      <!-- page with table -->
      <q-page-container class="fullscreen column  justify-center items-center content-center">
        <div style="width: 700px; max-width: 90vw" class="q-pa-md">
          <div class="full-width row no-wrap justify-between items-center content-center q-pt-xl q-px-md">
            <!-- search bar -->
            <div class="full-width">
              <q-input class="" v-model="search" label="Nome" outlined type="search">
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
            <!-- button criate -->
            <div class="q-pl-md">
              <q-btn round color="primary" icon="add" @click="openDialogContact" />
            </div>
          </div>
          <!-- table -->
          <div class="q-pt-md q-px-md">
            <q-table title="Contatos" :rows="filterContacts" :columns="columns" row-key="id" dense>
              <template v-slot:no-data="props" )>
                <div class="alertDataNotFound">Nenhum contato encontrado!</div>
              </template>
              <template v-slot:body-cell-name="props">
                <q-td :style="dynamicRowStyle(props.row.phone)" :props="props">
                  <div>{{props.row.name}}</div>
                </q-td>
              </template>
              <template v-slot:body-cell-phone="props">
                <q-td :style="dynamicRowStyle(props.row.phone)" :props="props">
                  <div>{{props.row.phone}}</div>
                </q-td>
              </template>
              <template v-slot:body-cell-action="props">
                <q-td :props="props">
                  <q-btn dense round flat color="blue" icon="edit" @click="editContact(props.row)"></q-btn>
                  <q-btn dense round flat color="red" icon="delete" @click="deleteContact(props.row)"></q-btn>
                </q-td>
              </template>
            </q-table>
          </div>
        </div>
      </q-page-container>
  </div>
  </div>

  </q-layout>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@2.10.0/dist/quasar.umd.prod.js"></script>
  <style>
    .dialogAdd {
      width: 700px;
      max-width: 90vw;
      color: rgb(0, 110, 255);
    }

    .alertDataNotFound {
      font-size: 1rem;
      padding: 1rem;
    }
  </style>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          search: '',
          dialogContact: false,
          confirmDialog: false,
          contact: {
            id: undefined,
            phone: undefined,
            name: undefined,
          },
          columns: [
            { name: 'name', required: true, label: 'Nome', align: 'left', field: row => row.name, format: val => `${val}`, sortable: true },
            { name: 'phone', align: 'center', label: 'phone', field: 'phone', sortable: true },
            { name: "action", align: "center", label: "", field: "" },
          ],
          lisetContacts: [
            {
              id: 1,
              name: 'Luiz Claudio',
              phone: '(61)8301-7727',
            },
            {
              id: 2,
              name: 'Cazarin Junior',
              phone: '(11)8301-7727',
            },
          ],
        }
      },
      computed: {
        filterContacts() {
          return this.lisetContacts.filter((el) => el.name.toLowerCase().includes(this.search.toLowerCase()));
        },
      },
      methods: {
        onSubmit() {
          if (!this.contact.id) {
            // new contact
            this.contact.id = Math.floor(Date.now() * Math.random()).toString(36);
            this.lisetContacts.push(Object.assign({}, this.contact));
            this.onReset();
          } else {
            // edit contact
            let contact = this.lisetContacts.find((el) => el.id === this.contact.id);
            contact.name = this.contact.name;
            contact.phone = this.contact.phone;
          }
          this.dialogContact = false;
        },
        dynamicRowStyle(phone) {
          if (phone.substr(1, 2) === "11") {
            return 'color: rgb(0, 110, 255)';
          } else return '';
        },
        openDialogContact() {
          this.onReset();
          this.dialogContact = true;
        },
        editContact(data) {
          this.contact = Object.assign({}, data);
          this.dialogContact = true;
        },
        confirmDeleteContact() {
          this.lisetContacts.splice(this.lisetContacts.indexOf(this.contact), 1);
        },
        deleteContact(data) {
          this.confirmDialog = true;
          this.contact = data;
        },
        onReset() {
          this.contact.id = undefined;
          this.contact.name = undefined;
          this.contact.phone = undefined;
        }
      }
    })

    app.use(Quasar)
    app.mount('#q-app')
  </script>
</body>

</html>